*
{
	box-sizing:border-box;
}


.post 
{
	box-sizing: margin-box;
	margin:10px;
	border:2px solid #bababa !important;
    height: 450px  !important;
}


.title{
	padding:10px;
	border-bottom: 1px solid gray;

}

.title h3 {
	margin:0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.post .embed
{
	height: 364px;
    text-align: center;

}


.post .embed:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.post img, video, iframe
{
	display: inline-block;

	vertical-align: middle;
	max-height:360px;
	max-width:90%;
}



.footer
{
	padding:10px;
	width:100%;
    position: absolute;
    bottom: 0;
	border-top: 1px solid gray;
}


.time-ago
{
	margin: 0px;
	float: right;
}

